.gutenberg-layout-blocks-container {
    position: relative;
    overflow: hidden;
}

.gutenberg-layout-blocks-container .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.gutenberg-layout-blocks-container .shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.gutenberg-layout-blocks-row {
    display: flex;
    flex-wrap: wrap;
}

.gutenberg-layout-blocks-column {
    flex-grow: 1;
    position: relative;
}

.column-resizer {
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    z-index: 1;
}

.column-resizer:hover,
.column-resizer:active {
    background-color: rgba(0, 0, 0, 0.1);
}